<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding_ISimpleInterest" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFTraining.Service/SimpleInterest/"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_ISimpleInterest"
                contract="SimpleInterestService.ISimpleInterest" name="BasicHttpBinding_ISimpleInterest" />
        </client>
        <services>
            <service name="WCFTraining.Services.HelloWorld">
                <endpoint address="" binding="webHttpBinding"
                    contract="WCFTraining.Services.IHelloWorld"
                          behaviorConfiguration="HelloEndPoint"/>
            </service>
        </services>
        <behaviors>
          <endpointBehaviors>
            <behavior name="HelloEndPoint">
              <webHttp/>
            </behavior>
          </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
